<%- include('header', {title : 'Cocktails'}) %>

    <body>
        <div style="padding: 40px 0px 0px 0px">
            <ul class="nav nav-tabs">
                <li class="active"><a  href="/cocktails">Cocktails</a></li>
                <li><a href="/ingredients">Ingredients</a></li>
            </ul>

            <div class="tab-content" style="padding: 20px">
                <div id="cocktailList" class="tab-pane fade-in fade in active">
                    <div class="list-group">
                        <% cocktails.forEach(function (cocktail) { %>
                            <a href="cocktail/<%= cocktail._id %>" class="list-group-item"
                               style="<%= cocktail.missing !== 0 ? 'background-color: #ffe0e0;' : '' %> height:120px">
                                <img src="<%= cocktail.img %>" alt="<%= cocktail.name %>" width="100px" height="100px" style="float:left"/>
                                <div class="list-group-item-heading"
                                     style="float:left; padding: <%= cocktail.missing !== 0 ? '25' : '30' %>px 0px 0px 10px;">
                                    <h4><%= cocktail.name %></h4>
                                    <% if(cocktail.missing > 0) { %>
                                        <%- '<h6 style="color: #ff6464">Missing:' + cocktail.missing + '</h6>' %>
                                    <% } %>
                                </div>
                            </a>
                        <% }) %>

                        <a href="/cocktail/new" class="list-group-item" style="height:120px">
                            <img src="/imgs/plus.png" alt="plus" width="100px" height="100px" style="float:left"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>